[submodule "designs/benchmarks"]
	path = designs/benchmarks
	url = https://github.com/HWSec-UNC/verification-benchmarks.git
[submodule "designs/ibex"]
	path = designs/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "designs/benchmarks/or1200/buggy-or1200"]
	path = designs/benchmarks/or1200/buggy-or1200
	url = git@github.com:HWSec-UNC/buggy-or1200.git
